
.contHabilidades {
  --bs-gutter-x: 0rem !important;
  justify-content: space-around;
  padding-bottom: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #a8cf5f;
}

.contPresHabilidades{
  margin-bottom: 10px;
  display: flex;
  padding: 0px 30px 0px 30px;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right:10%;
}

.habilidadesTitulo{
  padding-top: 20px;
  color: rgb(72 52 80);
  font-weight:lighter;
  font-size: 40px;
  text-align: center;
  font-family: 'Gajraj One', cursive;
}

.cartaHabilidad {
  margin: 30px 20px 0px 20px;
  border-radius: 15px;
  background-color: rgb(72 52 80);
  padding: 2% 5% 2% 5%;
  display: flex;
  height: 93%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cartaHabilidad:hover{
    transform: scale3d(1.10, 1.10, 1);
    transition: all 1s;
}

.textoHabilidad {
  color: rgb(168, 226, 93);
  font-weight:lighter;
  font-size: 12px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.tituloHabilidad {
  color: white;
  font-weight:lighter;
  font-size: 20px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.semiTituloHabilidad {
  color: white;
  font-weight:lighter;
  font-size: 15px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}