.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    z-index: 3;
}

.contModal {
    width: 50%;
    background-image: url(/public/gadjet.png);
    padding: 20px;
}

.headerModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tituloModal {
    color: rgb(40, 105, 46);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}


button.cerrarModal {
    width: 30px;
    height: 30px;
    border:none;
    background: rgb(255, 255, 255);
    cursor:pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: rgb(40, 105, 46);
    top:20px;
    right:20px;
}

button.cerrarModal:hover{
    background-color: #e4e4e4;
}