.App {
  text-align: center;
}

.falsoHeader {
  padding-left: 50px;
  padding-right: 80px;
  background-color: #a8cf5f;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header {
  position: fixed;
  z-index: 3;
}

.jeto{
  position: fixed;
  z-index: 3;
}

main {
  background-color: white;
}

.cabezalBarru1 {
  margin-left: 30px;
  margin-top: 20px;
  width: 50%;
  position: relative;
  z-index: 2;
}

.cabezal {
  padding: 5px;
  margin-left: 30px;
}

.carousel-control-prev {
  left: 0;
  display:none !important;
}

.carousel-control-next {
  right: 0;
  display: none !important;
}

.cabezal:hover {
  color: rgb(228, 136, 31);
  padding: 5px;
  margin-left: 30px;
}

a.cabezal {
  color: white;
  text-decoration: none;
}

.cartaTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cartaDibu {
  margin-top: -42vh;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.presentacionTitulo {
  margin-top: 10px;
  color: rgb(19, 19, 19);
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}

.presentacionTexto {
  color: rgb(87, 87, 87);
  font-weight: 400;
  font-size:large;
  text-align: center;
}

.presentacionImg {
  width: 40%;
}

.manoBarru {
  margin-top: 50vh;
  width: 20%;
}


.contHabilidades {
    display: flex;
    justify-content: space-around;
    margin-top: -7.1vh;
    padding-top: 70px;
    background-color: #a8cf5f;
}

.cartaHabilidad {
  border-radius: 15px;
  background-color: rgb(72 52 80);
  width: 40%;
  margin: 20px;
  padding: 2% 5% 2% 5%;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cartaProyecto {
  background-color: #b2b2b2;
}

.contenedorProyecto {
  display: flex;
  width: 80%;
}

.textoProyecto {
  color: rgb(40, 105, 46);
  font-weight: bold;
  font-size: medium;
}

.tituloProyecto {
  color: rgb(40, 105, 46);
  font-weight: bold;
  font-size: large;
}

.textoHabilidad {
  color: rgb(168, 226, 93);
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.tituloHabilidad {
  color: white;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}

.semiTituloHabilidad {
  color: white;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

.LinkProyecto img:first-child {
  display: flex;
}

.LinkProyecto img:last-child {
  display: none;
}

.LinkProyecto:hover img:first-child {
  display: none;
}

.LinkProyecto:hover img:last-child {
  display: flex;
}

.vidEmotiHabilidad {
  width: 100%;
  margin-bottom: 5vh;
}

.closed {
  display: none;
}

.openModal {
  position: fixed;
}

.carHome {
  position: relative;
  z-index: 1;

}