.App {
  text-align: center;
}

.falsoHeader {
  padding-left: 50px;
  padding-right: 80px;
  background-color: #a8cf5f;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.falsoFooter {
  padding-left: 50px;
  padding-right: 80px;
  background-color: #a8cf5f;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header {
  position: fixed;
  z-index: 3;
}

.jeto{
  position: fixed;
  z-index: 3;
}

main {
  background-color: white;
}

.cabezalBarru1 {
  margin-top: 10px;
  margin-left: 25px;
  z-index: 2;
  position: fixed;
  width: 25%
}

.cabezalBarruRes{
  margin-top: 10px;
  margin-left: 25px;
  z-index: 2;
  position: fixed;
  width: 40%
}

a.cabezal {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-left: 30px;
  font-family: 'Gajraj One', cursive;
}

.cabezal:hover {
  color: rgb(228, 136, 31);
}

a.icono {
  color: white;
  text-decoration: none;
  padding-bottom: 15px;
  margin-left: 30px;
  font-size:x-large;
}

.icono:hover {
  color: rgb(228, 136, 31);
}

.imgCambioSeccion{
  width:100%;
}